<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- يخبر السيرفر أن ملف server.js يتم تشغيله بواسطة iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- إعادة توجيه جميع الطلبات القادمة إلى ملف server.js -->
        <rule name="NodeJS">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- لمنع الـ IIS من إظهار أخطاء مخصصة والسماح لـ Node.js بإظهار أخطائه -->
    <httpErrors existingResponse="PassThrough" />
    
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>